.header_logo {
    color: #39B44A;
    font-size: 35px;
    font-weight: 700;
    transition: .3s ease all;
}
.header_logo:hover {
    color: #98D79E;
}



.nav_bar a {
    margin-left: 30px;
    font-weight: 500;
}
.nav_bar a:hover {
    text-decoration: underline;
}


.navbar_icon i {
    color: #39B44A;
    font-size: 12px;
    transition: .4s ease all;
}

.nav_bar a:hover .navbar_icon i {
    transform: rotate(90deg);
}



.Login_button {
    background-color: #39B44A;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 7px 30px;
    font-weight: 500;
    color: #fff;
    transition: .4s ease all;
}
.Login_button:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #39B44A;
}