.google_button {
    background-color: #39B44A;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 10px 40px;
    font-weight: 500;
    color: #fff;
    transition: .4s ease all;
    margin-top: 10px;
}

.google_button:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #39B44A;
    color: #39B44A;
}